/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
ul.todos li p.edit,ul.todos li  p.remove
{
	margin: 0 0.2em;
}
p.edit:hover, p.remove:hover
{
	cursor:pointer;
}
p.edit:before
{
	content: "";
	display: block;
	background-image: url("../img/pencil.png");
	background-size: 80%;
			background-position: center;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
}
p.edit:hover:before
{
	background-size: 90%;
	
}
p.remove:before
{
	content: "";
	display: block;
	background-image: url("../img/delete_icon.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
}
p.remove:hover:before
{
	background-size: 90%;
	
}
ul.todos, ul.subTodos
{
	max-width: 30em;
	margin: 50px auto;
	
}
ul.todos input.new_todo
{
	margin-bottom: 1em;
}
ul.todos li
{
	display:block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 1px dashed grey;
	/* background: url("../img/grid_background.png"); */
}
ul.todos li:first-of-type
{
	border-top: 1px dashed grey;
}
ul.todos li p 
{
	line-height: 40px;
	vertical-align: middle;
	float:left;
	margin: 0 1em;
	min-width: 2em;
	text-align:center;
}
ul.todos li p.todo_status
{
	border-left:1px dashed grey;
	border-right:1px dashed grey;
	position:relative;
}
ul.todos li p.first:before
{
	content: "";
	border-right:1px dashed grey;
	height: 12px;
	position: absolute;
	top: -12px;
	left: -1px;
}
ul.todos li p.first:after
{
	content: "";
	border-right:1px dashed grey;
	height: 12px;
	position: absolute;
	top: -12px;
	right: -1px;
}
ul.todos li p.last:before
{
	content: "";
	border-right:1px dashed grey;
	height: 12px;
	position: absolute;
	bottom: -12px;
	left: -1px;
}
ul.todos li p.last:after
{
	content: "";
	border-right:1px dashed grey;
	height: 12px;
	position: absolute;
	bottom: -12px;
	right: -1px;
}
ul.todos li p.red
{
	color:red;
}
ul.todos li p.yellow
{
	color:#CCCC00;
}
ul.todos li p.green
{
	color:green;
}
ul.todos li p.importance
{
	float:right;
	border-left:1px dashed grey;
	border-right:1px dashed grey;
	position: relative;
	margin-right: 0.4em;
}
ul.todos li input.importance
{
	width:1em;
	text-align: center;
}
ul.todos li p.edit{float:right;}
ul.todos li p.remove{
float:right;
border-right:1px dashed grey;
position:relative;
margin-right: 1em;
}
ul.todos li p.remove_first:after
{
	content: "";
	border-right:1px dashed grey;
	height: 12px;
	position: absolute;
	top: -12px;
	right: -1px;
}
ul.todos li p.remove_last:after
{
	content: "";
	border-right:1px dashed grey;
	height: 12px;
	position: absolute;
	bottom: -12px;
	right: -1px;
}
ul.todos li a
{
	line-height: 40px;
	vertical-align: middle;
	float:left;
	margin: 0 1em;
}
ul.subTodos li
{
	display:block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 1px dashed grey;
	/* background: url("../img/grid_background.png"); */
}
ul.subTodos li 
{
	display:block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 1px dashed grey;
}
ul.subTodos li input[type=checkbox]
{
	width: 40px;
	height: 40px;
	background: none;
	float:left;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border-right: 1px dashed grey;
	outline: none;
	text-align:center;
	position: relative;
}
ul.subTodos li input[type=checkbox]:after
{
	content:"✔";
	font-size: 1.4em;
	text-align: center;
	line-height: 39px;
	position: absolute;
	bottom:0;
	left: 30%;
}
ul.subTodos li input[type=checkbox].completed:after
{
	color: green;
}
ul.subTodos li input[type=checkbox].incomplete:after
{
	color: gray;
}
ul.subTodos label.mainTitle
{
	display: block;
	text-align: center;
}
ul.subTodos li p
{
	vertical-align: middle;
	float:left;
	margin: 0 1em;
	min-width: 2em;
}
ul.subTodos li p.edit, ul.subTodos li p.remove
{
	float:right;
}