/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
p.edit:hover, p.remove:hover
{
	cursor:pointer;
}
p.edit:before
{
	content: "";
	display: block;
	background-image: url("../img/pencil.png");
	background-size: 90%;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
p.edit:hover:before
{
	background-size: 100%;
	
}
p.remove:before
{
	content: "";
	display: block;
	background-image: url("../img/delete_icon.png");
	background-size: 100%;
		background-size: 90%;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
p.remove:hover:before
{
	background-size: 100%;
	
}
ul.todos
{
	max-width: 30em;
	margin: 50px auto;
	
}
ul.todos li
{
	display:block;
	height: 40px;
	line-height: 40px;
	verticak-align: middle;
}
ul.todos li p 
{
	line-height: 40px;
	vertical-align: middle;
	float:left;
	margin: 0 1em;
}
ul.todos li p.edit{float:right;}
ul.todos li p.remove{float:right;}
ul.todos li a
{
line-height: 40px;
vertical-align: middle;
	float:left;
	margin: 0 1em;
}

