<ul class="todos">
	<input type="text" ng-model="todoTitle" ng-enter="addTodo(todoTitle)" value=todoTitle placeholder="Add new Todo" />

	<li ng-repeat="todo in todos">
		<p>{{todo.status}}</p>
		<input ng-show="isEditing({{todo.id}})" ng-enter="updateTodo({{todo.id}},'{{todo.title}}')" ng-model=todo.title value="{{todo.title}}" "/>
		<a ng-show="!isEditing({{todo.id}})" class="title" href="#/todo/{{todo.id}}">{{todo.title}}</a>
		<p>{{todo.importance}}</p>
		
		<p ng-click="getProp(todo.remove,{todo:todo})" class="remove"><p>
		<p ng-click="getProp(todo.edit,{todo:todo})" class="edit"><p>
	</li>
</ul>
